
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Orders" });
    });
  </script>
<% end %>
<%- model_class = Order -%>
<div class="page-header" style="margin-top:-10px;">
  <span class='h3 text-left' style="display:inline !important;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></span>
  <span class='text-right go-back'><%= link_to '', dashboard_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></span>
</div>
 
<div class="table-responsive"  style="margin-bottom:50px;">
<table id="row-expand" class="table table-striped" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Order Status</th>
          <th>Total</th>
          <th class="none"></th>                                  
      </tr>
  </thead>
  <tbody class='myTable'>
    <% @orders.each do |order| %>        
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.customer.first_name+" "+order.customer.last_name %></td>
        <td><%= order.financial_status %></td>
        <td>                     
          <% if order.fulfillment_status %>
          <%= order.fulfillment_status %>          
          <%else%>
          <%= @unfulfilled %>
          <%end%>         
        </td>
        <td>
        <%= form_for order, :url =>{:action => "order_post", :id => order} do |f| %>
         <select id="do" name="tags" class='form-control col-md-3'> 
          <option disabled="" selected="" value="">Select Status</option> 
          <% if order.tags != "" %>
          
          <option value="<%= order.tags %>" selected> <%= order.tags %></option>
          <%end%>     
          <option value="Status:Unfulfilled">Status:Unfulfilled</option>  
          <option value="Status:Fulfilled">Status:Fulfilled</option>    
          <option value="Status:Partially_Fulfilled">Status:Partially Fulfilled</option>  
          <option value="Status:Payment_Recieved">Status:Payment Recieved</option>         
         </select>
         <%= f.submit "Save", :class => 'btn btn-primary btn-xs'%> 
         <%end%>
        </td>                   
        <td>$<%= order.total_price %></td>                 
        <td>
        <% order.line_items.each do |item| %>  
        <ul class="list-group">
        <li class="list-group-item active">
         Variant Title: <span> <%= item.title %></span> | SKU: <span><%= item.sku %></span> | Total Quantity: <span><%= item.quantity %></span> &times; Price: <span>$<%= item.price %></span>
        <% if order.note != "" %> 
        <span class="glyphicon glyphicon glyphicon-bell" title="This order has notes.."></span>
        <%end%>
        <span style="float:right; display:inline-block;">
        <%= form_for order, :url =>{:action => "var_post", :id => order}, :class => "btn-text-right" do |f| %>
        <select id="do" name="tags" class='form-control col-md-1'>
          <option disabled="" selected="" value="">Select Status</option>
          <% if order.tags != "" %>
          <% array = Array.new(order.tags.split(", ")) %> 
          <option value="<%= array.first %>" selected> <%=array.first %></option>
          <%end%>          
          <option value="Delayed:Fabric_unavailable">Delayed:Fabric unavailable</option> 
          <option value="Delayed:Fabric_ordered_from_mill">Delayed:Fabric ordered from mill</option>
          <option value="Delayed:Awaiting_info_from_customer">Delayed:Awaiting info from customer</option>         
          <option value="Delayed:Other_reason">Delayed:Other reason</option>
         </select> 
         <%= f.submit "Save", :class => 'btn btn-default btn-xs'%>
         <%end%>
         </span>                                        
        </li>                  
        </ul>          
        <%end%>        
        </td>                             
      </tr>
    <%end%>
  </tbody>
</table>
</div>

<script>  
$(document).ready(function (){
      var table = $("#row-expand").DataTable({
          "responsive": true,
          "order": [[ 0, "desc" ]]
      });       
  });
</script> 

