
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Orders" });
    });
  </script>
<% end %>
<%- model_class = Order -%>
<div class="page-header" style="margin-top:-10px;">
  <span class='h3 text-left' style="display:inline !important;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></span>
  <span class='text-right go-back'><%= link_to '', dashboard_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></span>
</div>
 
<div class="table-responsive"  style="margin-bottom:50px;">
<table id="row-expand" class="table table-striped" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Order Status</th>
          <th>Total</th>
          <th class="none"></th>                                  
      </tr>
  </thead>
  <tbody class='myTable'>
    <% @orders.each do |order| %>        
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.customer.first_name+" "+order.customer.last_name %></td>
        <td><%= order.financial_status %></td>
        <td>                     
          <% if order.fulfillment_status %>
          <%= order.fulfillment_status %>          
          <%else%>
          <%= @unfulfilled %>
          <%end%>         
        </td>
        <td>
        <%= form_for order, :url =>{:action => "update", :id => order} do |f| %>
         <select id="do" name="tags" class='form-control col-md-3'> 
          <option disabled="" selected="" value="">Select Status</option>                  
          <% if order.tags[0] == 'Unfulfilled' %>
          <option value="Unfulfilled" selected>Unfulfilled</option> 
          <%end%> 
          <% if order.tags[1] == 'Fulfilled' %>
          <option value="Fulfilled" selected>Fulfilled</option>
          <%end%>
          <% if order.tags[2] == 'PartiallyFulfilled' %>
          <option value="PartiallyFulfilled" selected>PartiallyFulfilled</option>
          <%end%> 
          <% if order.tags[3] == 'PaymentRecieved' %>
          <option value="Payment Recieved" selected>Payment Recieved</option>
          <%end%>
          
         
          <option value="Unfulfilled">Unfulfilled</option>  
          <option value="Fulfilled">Fulfilled</option>    
          <option value="PartiallyFulfilled">PartiallyFulfilled</option>  
          <option value="PaymentRecieved">PaymentRecieved</option>         
         </select>
         <%= f.submit "Save", :class => 'btn btn-primary btn-xs'%> 
         <%end%>
        </td>                   
        <td>$<%= order.total_price %></td>                 
        <td>
        <% order.line_items.each do |item| %>  
        <ul class="list-group">
        <li class="list-group-item active">
         VariantId: <span><%= item.variant_id %></span> | Variant Title: <span> <%= item.title %></span> | SKU: <span><%= item.sku %></span> | Total Quantity: <span><%= item.quantity %></span> &times; Price: <span>$<%= item.price %></span>
        <% if order.note != "" %> 
        <span class="glyphicon glyphicon glyphicon-bell"></span>
        <%end%>
        <%= form_for order, :url =>{:action => "update", :id => order}, :class => "btn-text-right" do |f| %>
        <select id="do" name="tags" class='form-control col-md-1'>
          <option disabled="" selected="" value="">Select Status</option>
          <% if order.tags != '' %>
          <option value="<%= order.tags %>" selected><%= order.tags %></option> 
          <%end%>
          <option value="Unfulfilled: <%= item.variant_id %>"><%= @unfulfilled %></option> 
          <option value="Unfulfilled: <%= item.variant_id %>"><%= @unfulfilled %></option>
          <option value="Payment Recieved:<%= item.variant_id %>">Payment Recieved</option> 
          <option value="Fulfilled:<%= item.variant_id %>">Fulfilled</option>
          <option value="Order Sheet Made:<%= item.variant_id %>">Order Sheet Made</option>         
          <option value="InProduction:<%= item.variant_id %>">In-Production</option>
         </select> 
         <%= f.submit "Save", :class => 'btn btn-default btn-xs'%>
         <%end%>                                        
        </li>                  
        </ul>          
        <%end%>        
        </td>                             
      </tr>
    <%end%>
  </tbody>
</table>
</div>

<script>  
$(document).ready(function (){
      var table = $("#row-expand").DataTable({
          "responsive": true,
          "order": [[ 0, "desc" ]]
      });       
  });
</script> 

<script>   
  $('.status_submit').on('click', function(e) {    
      success: function(data) {
          ShopifyApp.flashNotice("Order status successfully updated..");
      },
      error: function() {
          ShopifyApp.flashError("Warning: Order status updated failed..");
      }
    })
  });
</script>